body { margin: 0; padding: 50px; background-color: rgb(150, 150, 233);}

.container, h1, p {
    margin: 0;
}
.box {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}
button {
    margin: auto auto;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(68, 68, 238);
    color: aliceblue;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.75);
}
button:hover {
    background-color: rgb(43, 43, 215);
}

img {
    border-radius: 100px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 5px;
}
p {
    margin-bottom: 30px;
}

.block {
    word-break: break-all;
}